<div class="row" style="background-color: #b4e3f5;"><h1 class="testimonialfont">Testimonials</h1></div>
     <section class="card-list" style="background-color: #b4e3f5">
      <article class="card">
        <header class="card-header">
          <p>February 12th, 2020</p>
          <h2></h2>
          <p>We hired srikar for our daughter's first birthday and I must say he totally nailed it with quality of pictures and the moments he captured. Completely professional and punctual. Highly recommend him. keep up the good work srikar:)</p>
        </header>
        <div class="card-author">
          <a class="author-avatar" href="#">
          </a>
          <div class="author-name">
            <div class="author-name-prefix"> Jinia Mukerjee</div>
            Bangalore
          </div>
        </div>
        <div class="tags">
          <ul>
          <li>Photography</li><li>Videography</li>
        </ul>
        </div>
      </article>
<article class="card">
        <header class="card-header">
          <p>January 6th, 2019</p>
          <h2></h2>
          <p> It was a very good experience and I have also given him 5/5 ratings. He did an excellent job. came on time, captured every moment so perfectly, especially captured all the expressions of my birthday kid which were so beautiful. I am very happy and satisfied with his photography. good job done!</p>
        </header>
        <div class="card-author">
          <a class="author-avatar" href="#">
          </a>
          <div class="author-name">
            <div class="author-name-prefix">Shiva Kumar</div>
            Bangalore
          </div>
        </div>
        <div class="tags">
          <ul>
          <li>Photography</li><li>Album</li>
        </ul>
        </div>
      </article>
<article class="card">
        <header class="card-header">
          <p>November 5th, 2019</p>
          <h2></h2>
          <p>Srikar rao is just too professional and very obliging... He is highly dedicated and passionate about his job. We are very happy with his service and I would definitely prefer him for my future occasions and recommend him too.. Srikar was just on time and was full time capturing pics without giving us a chance to mention anything... Absolutely fantastic... Thanks srikar</p>
        </header>
        <div class="card-author">
          <a class="author-avatar" href="#">
          </a>
          <div class="author-name">
            <div class="author-name-prefix">Abhilash M</div>
            Bangalore
          </div>
        </div>
        <div class="tags">
          <ul>
          <li>Photography</li><li>Album</li>
        </ul>
        </div>
      </article>
<article class="card">
        <header class="card-header">
          <p>October 6th,2018</p>
          <h2></h2>
          <p>Very professional and friendly. he came on time, and was extremely patient while taking my baby's pictures. Delivered all photos within 2 days. All photos came out very good, and we are happy that we hired srikar for photography!</p>
        </header>
        <div class="card-author">
          <a class="author-avatar" href="#">
          </a>
          <div class="author-name">
            <div class="author-name-prefix">Shashank</div>
            Bangalore
          </div>
        </div>
        <div class="tags">
          <ul>
          <li>Photography</li><li>Videography</li>
        </ul>
        </div>
      </article>
<article class="card">
        <header class="card-header">
          <p>September 1st, 2018</p>
          <h2></h2>
          <p> A very good photographer and I would recommend others who want there precious moments to be captured forever and see them all the time. Im fully satisfied for the pictures he delivered to me for my daughter's first birthday. Colors are vibrant and edited professionally.</p>
        </header>
        <div class="card-author">
          <a class="author-avatar" href="#">
          </a>
          <div class="author-name">
            <div class="author-name-prefix">Soumya</div>
            Bangalore
          </div>
        </div>
        <div class="tags">
          <ul>
          <li>Photography</li><li>Videography</li>
        </ul>
        </div>
      </article>
<article class="card">
        <header class="card-header">
          <p> August 9th,2018</p>
          <h2></h2>
          <p> I hired him for my son's birthday party. his art is what makes him valuable. He is superb. I totally loved his work. He was on time, timely deliver, photographs were awesome. on whole, I loved his work and faced no problems from his side. He proved his worth and a thumbs up for further recommendations.</p>
        </header>
        <div class="card-author">
          <a class="author-avatar" href="#">
          </a>
          <div class="author-name">
            <div class="author-name-prefix">Ankitha Sharma</div>
            Bangalore
          </div>
        </div>
        <div class="tags">
          <ul>
          <li>Photography</li>
        </ul>
        </div>
      </article>
<article class="card">
        <header class="card-header">
          <p> July 24th, 2018</p>
          <h2></h2>
          <p>Srikar rao is an excellent photographer and  he is a skilled and professional photographer, great job and also was very cooperative during the whole event. He charged me very minimal for the whole event and it was very cost friendly too. might avail his service again in future. Thank you so much for giving us the best photographs.</p>
        </header>
        <div class="card-author">
          <a class="author-avatar" href="#">
          </a>
          <div class="author-name">
            <div class="author-name-prefix">Sneha</div>
            Bangalore
          </div>
        </div>
        <div class="tags">
          <ul>
          <li>Photography</li>
        </ul>
        </div>
      </article>
<article class="card">
        <header class="card-header">
          <p>June 16th,2018</p>
          <h2></h2>
          <p>Srikar is a really nice guy and he did a good job while covering the party. The final photos were delivered to me well in time after the party and the quality of the photos was great. I was super satisfied with the work he did at such reasonable prices. Very happy! highly recommended. I would give him 10 out of 10. thank you!</p>
        </header>
        <div class="card-author">
          <a class="author-avatar" href="#">
          </a>
          <div class="author-name">
            <div class="author-name-prefix">Nidhi Kumar</div>
            Bangalore
          </div>
        </div>
        <div class="tags">
          <ul>
          <li>Photography</li><li>Videography</li><li>Album</li>
        </ul>
        </div>
      </article>
<article class="card">
        <header class="card-header">
          <p> March 1st,2018</p>
          <h2></h2>
          <p>It was birthday occasion and for that we were in search of a personal party photographer and for that we hired mr srikar rao for the service and he was well talented professional photographer in Bangalore and done a really wonderful job as expected. Overall I was well satisfied with his work and highly appreciate !!</p>
        </header>
        <div class="card-author">
          <a class="author-avatar" href="#">
          </a>
          <div class="author-name">
            <div class="author-name-prefix">Kartheek Gupta</div>
            Bangalore
          </div>
        </div>
        <div class="tags">
          <ul>
          <li>Photography</li>
        </ul>
        </div>
      </article>
<article class="card">
        <header class="card-header">
          <p> February 14th, 2018</p>
          <h2></h2>
          <p>Very reliable and professional . He was flexible with event timings and was always ready to click pictures whenever guests arrived or capturing beautiful moments . would recommend to family and friends.</p>
        </header>
        <div class="card-author">
          <a class="author-avatar" href="#">
          </a>
          <div class="author-name">
            <div class="author-name-prefix">Abhishek Mishra</div>
            Bangalore
          </div>
        </div>
        <div class="tags">
          <ul>
          <li>Photography</li><li>Videography</li>
        </ul>
        </div>
      </article>
<article class="card">
        <header class="card-header">
          <p>January 26th,2018</p>
          <h2></h2>
          <p>Srikar did a fabulous job with the photography for our son's birthday. He captured some great moments and was really good with kids. He was extremely patient through the event. He has a very good eye for detail which is shown in the final outcome. He delivered exactly what we were looking for. we have lovely memories captured, Thanks to srikar.</p>
        </header>
        <div class="card-author">
          <a class="author-avatar" href="#">
          </a>
          <div class="author-name">
            <div class="author-name-prefix">Rohini</div>
            Bangalore
          </div>
        </div>
        <div class="tags">
          <ul>
          <li>Photography</li>
        </ul>
        </div>
      </article>
<article class="card">
        <header class="card-header">
          <p>December 25th,2017</p>
          <h2></h2>
          <p>Awesome moments captured beautifully by srikar. we will cherish these pictures forever. very professional and patient. very satisfied with his work. thank you srikar!</p>
        </header>
        <div class="card-author">
          <a class="author-avatar" href="#">
          </a>
          <div class="author-name">
            <div class="author-name-prefix">Deeraj</div>
            Bangalore
          </div>
        </div>
        <div class="tags">
          <ul>
          <li>Photography</li>
          <li>Album</li>
        </ul>
        </div>
      </article>
<article class="card">
        <header class="card-header">
          <p>December 1st, 2017</p>
          <h2></h2>
          <p>You know how kids cry frequently. He knows how to work with kids. My 1 year old kid enjoyed a lot working with him. During the birthday party photoshoot my son was smiling all the time. A big thanks to Srikar for photographing our big day. The best part is Srikar gifted us an album which was not included in the quotation.  Thank you so so much. God bless you dear.</p>
        </header>
        <div class="card-author">
          <a class="author-avatar" href="#">
          </a>
          <div class="author-name">
            <div class="author-name-prefix">Vibha Tiwari</div>
            Bangalore
          </div>
        </div>
        <div class="tags">
          <ul>
          <li>Photography</li>
        </ul>
        </div>
      </article>
<article class="card">
        <header class="card-header">
          <p>November 25th, 2017</p>
          <h2></h2>
          <p>He is a talented photographer from Bangalore, every click of his is amazing. He covered the event from every corner of the place. Very creative shots. </p>
        </header>
        <div class="card-author">
          <a class="author-avatar" href="#">
          </a>
          <div class="author-name">
            <div class="author-name-prefix">Alpna Mishra</div>
            Bangalore
          </div>
        </div>
        <div class="tags">
          <ul>
          <li >Photography</li>
           <li >Album</li>
          </ul>
        </div>
      </article>
<article class="card">
        <header class="card-header">
          <p>November 14th, 2017</p>
          <h2></h2>
          <p>Srikar took awesome pictures of my son's first bday party. He is very professional and patient and he captured all the moments beautifully. Best Photographer.</p>
        </header>
        <div class="card-author">
          <a class="author-avatar" href="#">
          </a>
          <div class="author-name">
            <div class="author-name-prefix">Dhivya Menon</div>
            Bangalore
          </div>
        </div>
        <div class="tags">
          <ul>
          <li>Photography</li><li>Videography</li>
        </ul>
        </div>
      </article>

<article class="card">
        <header class="card-header">
          <p>October 2nd, 2017</p>
          <h2></h2>
          <p>Highly satisfied with the service for my son's first birthday party. the clicks were wonderful and srikar was patient and friendly</p>
        </header>
        <div class="card-author">
          <a class="author-avatar" href="#">
          </a>
          <div class="author-name">
            <div class="author-name-prefix">Sameer Bansal</div>
            Bangalore
          </div>
        </div>
        <div class="tags">
          <ul>
          <li>Photography</li>
        </ul>
        </div>
      </article>

<article class="card">
        <header class="card-header">
          <p>September 18th, 2017</p>
          <h2></h2>
          <p>Nice work done on my kid's first birthday.</p>
        </header>
        <div class="card-author">
          <a class="author-avatar" href="#">
          </a>
          <div class="author-name">
            <div class="author-name-prefix">Prateek</div>
            Bangalore
          </div>
        </div>
        <div class="tags">
          <ul>
          <li>Photography</li>
        </ul>
        </div>
      </article>
<article class="card">
        <header class="card-header">
          <p>August 15th,2017</p>
          <h2></h2>
          <p>Awesome pictures clicked by him. Cheers..</p>
        </header>
        <div class="card-author">
          <a class="author-avatar" href="#">
          </a>
          <div class="author-name">
            <div class="author-name-prefix"> Aakriti Arpit</div>
            Bangalore
          </div>
        </div>
        <div class="tags">
          <ul>
          <li >Photography</li>
           <li >Videography</li>
          </ul>
        </div>
      </article>
<article class="card">
        <header class="card-header">
          <p>July 29th, 2017</p>
          <h2></h2>
          <p>Excellent photography.</p>
        </header>
        <div class="card-author">
          <a class="author-avatar" href="#">
          </a>
          <div class="author-name">
            <div class="author-name-prefix">Ayantika goel</div>
            Bangalore
          </div>
        </div>
        <div class="tags">
          <ul>
          <li >Photography</li>
           <li >Album</li>
          </ul>
        </div>
      </article>


 </section>
</div>